# Ignore PDF files
*.pdf

# Ignore dataset folders
*.csv
*.h5
*.npy
*.zip
*.tar.gz

# Ignore large model checkpoints
*.pt
*.pth
*.ckpt
*.hdf5

# Ignore temporary / environment files
__pycache__/
*.log
.ipynb_checkpoints/
.DS_Store
avg_rank.ipynb
plots.ipynb
# Ignore venv or conda env
venv/
.env/
*.yml